################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BankTradingService/.vs/BankTradingService
/BankTradingService/obj
/BankTradingService/bin/Debug/net6.0
/BankTradingService.Consumer/bin/Debug/net6.0
/BankTradingService.Consumer/obj
/BankTradingService.Test/obj
/BankTradingService/.vs/ProjectEvaluation
/BankTradingService.Test/bin/Debug/net6.0
/bin/Debug
/obj
/BankTradingService.Application/obj
/BankTradingService.Data/obj
/BankTradingService.Application/bin/Debug/net6.0
/BankTradingService.Data/bin/Debug/net6.0
/BankTradingService.Shared/obj
/BankTradingService.Shared/bin/Debug/net6.0
/BankTradingService.Producer/bin/Debug/net6.0
/BankTradingService.Producer/obj
